<app-header-component></app-header-component>
<h1>Hi</h1>
<a routerLink="/login">Login</a>
<a routerLink="/expenseDetails">ExpenseDetails</a>
<router-outlet></router-outlet>

<div class="container" style="max-width:550px">
    <h2  class="text-center mb-5">Angular Login with Google</h2>
    <div *ngIf="isLoggedin === false">
        <div>
            <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
        </div>
    </div>

    <div *ngIf = "isLoggedin===true">
        <div class="form-group">
            <label>First Name</label>
        </div>
    </div>
</div>